---
- name: Converge
  hosts: all
  gather_facts: true
  become: true
  vars:
    web_project_name: php-app-test
    web_app_env: test
    web_project_root: /tmp/test-project
    web_php_pm: dynamic
  
  pre_tasks:
    - name: Install Docker Python library
      apt:
        name: python3-docker
        state: present
        update_cache: yes
    
    - name: Create test project directory
      file:
        path: "{{ web_project_root }}"
        state: directory

    - name: Create test Docker network
      community.docker.docker_network:
        name: "{{ web_project_name }}-network"
        state: present
    
    - name: Create test Docker volume
      community.docker.docker_volume:
        name: "{{ web_project_name }}-volume"
        state: present
    
    - name: Start nginx test container
      community.docker.docker_container:
        name: "{{ web_project_name }}-nginx"
        image: nginx:alpine
        state: started
        networks:
          - name: "{{ web_project_name }}-network"
        volumes:
          - "{{ web_project_name }}-volume:/var/www/html:ro"
        ports:
          - "8080:80"
        restart_policy: unless-stopped
    
    - name: Start php-fpm test container
      community.docker.docker_container:
        name: "{{ web_project_name }}-php-fpm"
        image: php:8.2-fpm
        state: started
        networks:
          - name: "{{ web_project_name }}-network"
        volumes:
          - "{{ web_project_name }}-volume:/var/www/html"
        env:
          APP_ENV: "{{ web_app_env }}"
        restart_policy: unless-stopped
    
    - name: Wait for containers to be ready
      wait_for:
        timeout: 10
  
  tasks:
    - name: Include web role tasks
      include_tasks: ../../tasks/main.yml
  
  post_tasks:
    - name: Get container information
      community.docker.docker_container_info:
        name: "{{ item }}"
      loop:
        - "{{ web_project_name }}-nginx"
        - "{{ web_project_name }}-php-fpm"
      register: container_info
    
    - name: Show container status
      debug:
        msg: "{{ item.container.Name }} is {{ item.container.State.Status }}"
      loop: "{{ container_info.results }}"
      when: item.container is defined