---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: instance
    image: ubuntu:22.04  # Add this - base image for the Dockerfile
    dockerfile: Dockerfile.j2
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    pre_build_image: false
provisioner:
  name: ansible
  inventory:
    host_vars:
      instance:
        ansible_connection: docker
  playbook: converge.yml
verifier:
  name: testinfra
  options:
    v: 1